<mat-toolbar>
    <span class="logo">ErShubhArora</span>
    <span class="spacer"></span>
    <div class="nav-links">
      <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
      <a mat-button routerLink="/services" routerLinkActive="active">Services</a>
      <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>
    </div>
  </mat-toolbar>
  
<div class="carous ">
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="assets/images/web dev title.jpg" class="d-block w-100" >
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="assets/images/hosting.jpg" class="d-block w-100">
        </div>
        <div class="carousel-item">
          <img src="assets/images/web-dev1.jpg" class="d-block w-100">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>