<footer class="footer bg-dark text-light py-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>Are you looking to bring your web development projects to life? Let's collaborate and create stunning websites using HTML, CSS, Angular, Bootstrap, and Angular Material.</p>
        <p><strong>Slogan:</strong> "Building Tomorrow's Web Today!"</p>
      </div>
      <hr>
      <div class="col-md-6">
        <p>Shubham Arora</p>
        <p>Profile: Web Developer</p>
      </div>
      <div class="col-md-6">
        <p>Email: shubhamarora140&#64;gmail.com</p>
        <p>Phone: 8222813489</p>
      </div>
    </div>
  </div>
</footer>
