
form{
    
    width: 70%;
    margin: auto;
}

.form-group{
    width:30%;
    float: left;
    margin-left: 5px;
}

button{
    margin: auto;
    text-align: center;
    
}
input{
    background-color: rgb(248, 231, 209);
}

.errormsg{
    color: red;
}