<!-- 
<div class="welcome-card ">
  <img mat-card-image src="assets/images/welcome.jpg" alt="Web Developer Image">
</div> -->

<div class="box">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <h1>Shubham Arora</h1>
                <p class="lead">System Engineer at Infosys</p>
            </div>
            <div class="col-md-4">
                <p>Email: Shubhamarora140&#64;gmail.com</p>
                <p>Phone: 8222813489</p>
                <p>LinkedIn: www.linkedin.com/in/shubham-arora-134b14198</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-8">
                <h3>

                    "Empowering digital dreams with innovative web solutions. Your vision, our code – let's craft your
                    online success together."
                </h3>
                <p></p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-8">
                <h3>Experience</h3>
                <ul>
                    <li>
                        <h5>Job Title</h5>
                        <p><strong>Infosys</strong>
                        <p>
                            Custom website development
                            Responsive web design
                            Front-end development using HTML, CSS, JavaScript, and modern frameworks
                            Integration of innovative technologies like Angular, React, or Vue.js
                            E-commerce solutions
                            Website maintenance and optimization

                        </p>
                    </li>
                    <!-- Add more experiences in a similar format -->
                </ul>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-8">
                <h3>Education</h3>
                <ul>
                    <li>
                        <h5>Degree</h5>
                        <p>DCRUST University </p>
                        <p>COMPLETED B-TECH IN COMPUTER SCIENCE </p>
                    </li>
                    <!-- Add more education details in a similar format -->
                </ul>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-8">
                <h3>Skills</h3>
                <p>Skills related to Web-Development and trained into various Technology </p>
                <ul>
                    <li>HTML 5</li>
                    <li>CSS 3</li>
                    <li>BOOTSTRAP</li>
                    <li>Angular</li>
                    <li>Angular Material</li>
                    <li>TypeScript</li>
                    <li>Hosting</li>

                    <!-- Add more skills as needed -->
                </ul>
            </div>
        </div>
    </div>
</div>
 <br><br>

<app-footer></app-footer>