
<div class="welcome-card ">
  <img mat-card-image src="assets/images/welcome.jpg" alt="Web Developer Image">
</div>
    
<div class="box">
<div class="container mt-5">
  <div class="row">
      <div class="col-md-8">
          <h1>Shubham Arora</h1>
          <p class="lead">System Engineer at Infosys</p>
      </div>
      <div class="col-md-4">
          <p>Email: Shubhamarora140&#64;gmail.com</p>
          <p>Phone: 8222813489</p>
          <p>LinkedIn: www.linkedin.com/in/shubham-arora-134b14198</p>
      </div>
  </div>

  <hr>

  <div class="row">
      <div class="col-md-8">
          <h3>Summary</h3>
          <p></p>
      </div>
  </div>

  <hr>

  <div class="row">
      <div class="col-md-8">
          <h3>Experience</h3>
          <ul>
              <li>
                  <h5>Job Title</h5>
                  <p><strong>Company Name</strong> - Date</p>
                  <p>Job description and responsibilities.</p>
              </li>
              <!-- Add more experiences in a similar format -->
          </ul>
      </div>
  </div>

  <hr>

  <div class="row">
      <div class="col-md-8">
          <h3>Education</h3>
          <ul>
              <li>
                  <h5>Degree</h5>
                  <p><strong>University Name</strong> - Date</p>
                  <p>Description of your degree, GPA, relevant coursework, etc.</p>
              </li>
              <!-- Add more education details in a similar format -->
          </ul>
      </div>
  </div>

  <hr>

  <div class="row">
      <div class="col-md-8">
          <h3>Skills</h3>
          <p>Include relevant skills here such as programming languages, software proficiency, etc.</p>
          <ul>
              <li>Skill 1</li>
              <li>Skill 2</li>
              <li>Skill 3</li>
              <!-- Add more skills as needed -->
          </ul>
      </div>
  </div>
</div>
</div>

